body{
    width: 80%;
    margin: auto;
}
#pname{
    text-align: centre;
}
hr{
    height: 2px;
    background-color: green;
}
h3{
    width: 100%;
    background-color: gray;
    
}
table{
    width: 100%;
    
}
table th{
    background-color: green;
    color: white;
}
table th,td{
    border-bottom: 1px solid gray;
}
